{% extends "::layoutApplication.html.twig" %}

{% block title %}Fournisseurs{% endblock %}

{% block contentPage %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <h3 style="text-align: center;"><i class="fa fa-align-center"></i> Liste Des Fournisseurs </h3>

                <div class="row">
                    <!-- Button trigger Add Fournisseur -->
                    <button type="button" class="btn btn-background " data-toggle="modal" data-target="#addFournisseur" style="margin: 5%;">
                         <i class="fa fa-plus"></i> Ajouter Fournisseur
                    </button>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="addFournisseur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Ajouter Un Fournisseur</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                                {# Les erreurs générales du formulaire. #}
                                {{ form_errors(form) }}

                                <div class="row" style="margin: 15px;padding: 5px">
                                    {# Génération du label. #}
                                    {{ form_label(form.nom, "Nom *", {'label_attr': {'class': 'col-sm-4 control-label'}, 'style': 'font-size:16px','maxlength':'30'}) }}

                                    {# Affichage des erreurs pour ce champ précis. #}
                                    {{ form_errors(form.nom) }}

                                    <div class="col-sm-10">
                                        {# Génération de l'input. #}
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                {# Idem pour un autre champ. #}
                                <div class="row" style="margin: 15px;padding: 5px">
                                    {{ form_label(form.prenom, "Prenom *", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    {{ form_errors(form.prenom) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}, 'style': 'font-size:16px','maxlength':'30'}) }}
                                    </div>
                                </div>

                                <div class="row" style="margin: 15px;padding: 5px">
                                    {{ form_label(form.mail, "Entrer Votre Mail *", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    {{ form_errors(form.mail) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}, 'style': 'font-size:16px','maxlength':'30'}) }}
                                    </div>
                                </div>

                                <div class="row" style="margin: 15px;padding: 5px">
                                    {{ form_label(form.telephone, "Telephone *", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    {{ form_errors(form.telephone) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}, 'style': 'font-size:16px','maxlength':'12'}) }}
                                    </div>
                                </div>

                                <div class="row" style="margin: 15px;padding: 5px">
                                    {{ form_label(form.adresse, "Adresse *", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    {{ form_errors(form.adresse) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}, 'style': 'font-size:16px','maxlength':'30'}) }}
                                    </div>
                                </div>

                                <div class="row" style="margin: 15px;padding: 5px">
                                    {{ form_label(form.ville, "Ville *", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    {{ form_errors(form.ville) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.ville, {'attr': {'class': 'form-control'}, 'style': 'font-size:16px','maxlength':'30'}) }}
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"> Annuler</button>
                                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                                    {{ form_widget(form.soumettre, {'attr': {'class': 'btn btn-background'}}) }}
                                </div>
                                {# Génération automatique des champs pas encore écrits.
                                 Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                                 et tous les champs cachés (type « hidden »). #}
                                {{ form_rest(form) }}
                                {# Fermeture de la balise <form> du formulaire HTML #}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row mt">
                        <div class="col-md-12">
                            <div class="content-panel">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    {% for msg in app.session.flashBag.get('success') %}
                                        <div class="alert alert-success">
                                            {{ msg }}
                                        </div>
                                    {% endfor %}
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;"><i class="fa"></i>ID</th>
                                        <th style="text-align: center;"><i class="fa fa-user"></i> Nom</th>
                                        <th style="text-align: center;"><i class="fa fa-user"></i> Prenom</th>
                                        <th style="text-align: center;"><i class="fa fa-envelope"></i> Adresse Mail</th>
                                        <th style="text-align: center;"><i class="fa fa-phone"></i> Telephone</th>
                                        <th style="text-align: center;"><i class=" fa fa-location-arrow"></i> Adresse</th>
                                        <th style="text-align: center;"><i class=" fa fa-institution"></i> Ville</th>
                                        <th style="text-align: center;"><i class=" fa fa-calendar"></i> Date Inscrition</th>
                                        <th style="text-align: center;"><i class=" fa fa-edit"></i> Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for fournisseur in listeFournisseur %}
                                            <tr>
                                                <td>{{ fournisseur.id }}</td>
                                                <td>{{ fournisseur.nom }}</td>
                                                <td>{{ fournisseur.prenom }}</td>
                                                <td>{{ fournisseur.mail }}</td>
                                                <td>{{ fournisseur.telephone }}</td>
                                                <td>{{ fournisseur.adresse }} </td>
                                                <td>{{ fournisseur.ville }} </td>
                                                <td>{{ fournisseur.dateInscrit|date("m/d/Y") }} </td>
                                                <td>
                                                    <a href=" {{ path('view_fournisseur', {'id': fournisseur.id} ) }}"><button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button></a>
                                                    <a href=" {{ path('edit_fournisseur', {'id': fournisseur.id} ) }}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                                                    <a href=" {{ path('trash_fournisseur', {'id': fournisseur.id} ) }}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div><!-- /content-panel -->
                        </div><!-- /col-md-12 -->
                    </div><!-- /row -->
                </div>
            </section><! --/wrapper -->
        </section><!-- /MAIN CONTENT -->
     <!--main content end-->
{% endblock %}